#footer1 {
  background-color: #1D212D;
  padding: 1.5rem;
}

#footer2 {
  color: white;
  font-size: 1.1rem;
  padding-left: 0.3rem;
}

#footer3 {
  color: #787DBF;
  padding: 0.3rem;
  font-size: small;
}

#footer4 {
  color: #787DBF;
  padding: 0.3rem;
  font-size: small;
  margin-top: 1rem;
}

#footer6 {

  background-color: white;
  color: black;
  border-radius: 100%;
  padding: 0.2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#footer6:hover {
  background-color: #E51291;
  transition: all 1.3s ease;
  color: white;
}

#footer5 {
  display: flex;
  gap: 0.7rem;
  margin-left: 0.1rem;
  margin-top: 1rem;

}

#footer9 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 10;
}

#footer9:hover {
  color: white;
}

#footer7 {
  margin-left: 0.1rem;
  margin-top: 0.8rem;
  font-size: 1.1rem;
}

#footer10 {
  color: #787DBF;
  padding: 0.3rem;
  font-size: small;
  margin-top: 1rem;
  margin-left: 0.1rem;
}

#footer11 {
  color: #787DBF;
  padding: 0.3rem;
  font-size: small;
  margin-left: 0.1rem;
}

#footer12 {
  color: white;
  margin-top: 2rem;
}

#footer13 {
  display: flex;
}

#footer14 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer15 {
  display: flex;
  color: white;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  font-size: 1.1rem;
  font-weight: 500;
}

#footer16 {
  display: flex;
  color: white;
}

#footer17 {
  display: flex;
  justify-content: flex-start;
}

#footer18 {
  display: flex;
  justify-content: center;
}

#footer19 {
  background-color: #2A3442;
  padding: 1rem;
}

#footer20{
  text-decoration: none;
  color: #787DBF;
}